<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
      <!--xmlns:sec="http://www.w3.org/1999/xhtml"-->

<!--xmlns: th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">-->
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <div class="row">
        <div class="col-10" th:each="user: ${infoUser}">
            <span th:text="${user.getName()}" style="font-weight: bold"></span>
            with roles:
            <span th:text="${#strings.arrayJoin(user.getRoles(), ', ')}">ADMIN, USER</span>
        </div>
        <div class="col-2">
            <div class="align-right">
                <!--<form th:method="POST" th:action="@{/logout}">
                    <input class="logout-button" type="submit" value="Logout">
                </form>-->
                <div class="container-header-logout"><a href="/"><button type="button" class="btn btn-outline-danger">Logout</button></a></div>

            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="buttons">
                <!--<div sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_USER')">
                    &lt;!&ndash;<form th:method="GET" th:action="@{/admin}">
                        <input type="submit" value="Admin">
                    </form>&ndash;&gt;
                    <a class="nav-link active" href="/admin" sec:authorize="hasAuthority('ADMIN')" role="tab"
                       aria-controls="v-pills-home" aria-selected="true">Admin</a>
                </div>
                <div class="active-role">
                    <p>User</p>
                </div>-->
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <form th:method="GET" th:action="@{/admin}">
                        <input type="submit" value="Admin">
                    </form>
                </div>
                <div class="active-role">
                    <p>User</p>
                </div>

            </div>
        </div>
        <div class="col-10">
            <h1>Информация о Пользователе</h1>

            <table class="my-table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Surname</th>
                        <th>Roles</th>
                    </tr>
                </thead>
                <tbody id="data-about-user"></tbody>
            </table>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/userPage.js"></script>
</body>
</html>